.progress-bar {
    width: 6.4rem;
    height: 6.4rem;
    cursor: pointer;
}

.progress-bar__static {
    stroke: map-get($colors, dark-gray);
    stroke-width: 2;
    fill: none;
}

.progress-bar__border {
    stroke: map-get($colors, primary);
    stroke-width: 2;
    fill: none;

    // stroke-dasharray: 50 20;
    // stroke-dashoffset: ;
    transform-origin: center;
    transform: rotate(-90deg);
    // transition: stroke-dashoffset .3s linear;
}   

.progress-bar__text {

    user-select: none;

    fill: map-get($colors, white);
    font-family: $roboto;
    font-weight: 700;
    font-size: 1.6rem;
}