$colors: (
    primary: #FF5F01,
    white: #FFFFFF,
    light-gray: #F5F5F5,
    frame-line: #DBDBDB,
    gray: #C5C7C8,
    dark-gray: #7E8385,
    brown: #363131,
    black: #191919,
    error: #FF0101,
    focus-browser: #2078FD
);
$roboto: 'Roboto', sans-serif;  
$noto-sans: 'Noto Sans', sans-serif;
$panton: 'Panton', sans-serif;
$arimo: 'Arimo', sans-serif;


$desktop-l: 1920px;
$desktop-m: 1550px;
$desktop-s: 1060px;
$tablet: 860px;
$mobile: 600px;
