.blog {
    padding-top: 4.1rem;
    padding-bottom: 4.7rem;
}

.blog__url-address {
    margin-bottom: 2rem;

    color: map-get($colors, black);
    font-weight: 300;
    font-style: italic; 
    font-size: 1.4rem;
    line-height: 2.52rem;
}