.row {
    width: 100%;
    display: flex;


    &--jc-sb { // justify-content: space-between;
        justify-content: space-between;
    }

    &--jc-sa { // justify-content: space-around;
        justify-content: space-around;
    }
}

.col {
    width: 100%;
    // max-width: 100%;
    
    flex: 0 1 auto;

    &--1 {
        width: 25%;
    }   

    &--2 {
        width: 50%;
    }

    &--3 {
        width: 75%;
    }

    &--4 {
        width: 100%;
    }

    &--33p {
        width: 33.333%;
    }
}