@mixin label-active() {
    font-size: 1.2rem;
    top: 1rem;
    left: 3rem;
}

.form__fields {
    display: flex;

    background-color: map-get($colors, frame-line);

    @media (max-width: $tablet) {
        display: block;
    }
}

.form__left, 
.form__right {
    width: 50%;

    @media (max-width: $tablet) {
        width: 100%;
    }
}

.form__left {

    & > *:first-child {
        border-bottom: none;
    }

    & > *:nth-child(2) {
        border-bottom: none;
    }

    @media (max-width: $tablet) {
        & > *:nth-child(3) {
            border-bottom: none;
        }
    }
}

.form__right {

    & > *:first-child {
        border-bottom: none;
        border-left: none;
    }
}

.form__label {
    display: block;
    position: absolute;
    left: 3rem;
    top: 50%;

    user-select: none;
    cursor: text;

    color: map-get($colors, dark-gray);
    font-size: 1.6rem;

    transform: translateY(-50%);

    transition: all .1s linear;  
}

.star {

    transition: color .1s linear;
    
    &--red {
        color: map-get($colors, error);
    }
}

.form__field {
    width: 100%;
    height: 8rem;
    position: relative;

    border: 1px solid map-get($colors, frame-line);

    @media (max-width: $tablet) {
        height: 7rem;
    }
    
    &:hover {
        & .form__label {
            color: map-get($colors, black);
        }

        &--is-active {
            .form__label {
                color: map-get($colors, dark-gray);
            }
        }
    
        &--is-filled { 
            .form__label {
                color: map-get($colors, dark-gray);
            }
        }
    }

    &--is-active {
        .form__label {
            @include label-active;
        }

        &:hover {
            .form__label {
                color: map-get($colors, dark-gray);
            }
        }
        & .star {
            color: map-get($colors, dark-gray);
        }
    }

    &--is-filled { 
        .form__label {
            @include label-active;
        }
        &:hover {
            .form__label {
                color: map-get($colors, dark-gray);
            }
        }
        & .star {
            color: map-get($colors, dark-gray);
        }
    }

    &--textarea {
        height: 16rem;

        & label {
            top: 4rem;
        }

        @media (max-width: $tablet) {
            height: 14rem;
        }
    }

    &.error {
        border: 1px solid map-get($colors, error);
        border-bottom: 1px solid map-get($colors, error);

        & .form__error {
            display: block; 
        }
    }
}

.form__message {
    border-left: none;
}


.form__control {
    width: 100%;
    height: 100%;

    background-color: transparent;
    overflow: hidden;
}

.form__input,
.form__textarea {
    appearance: none;
    width: 100%;
    height: 100%;
    padding: 3rem;

    font-family: $roboto;
    font-size: 1.6rem;

    outline: none;

    &:focus-visible {
        outline: 1px solid map-get($colors, focus-browser);
    }
}

.form__textarea {
    padding-top: 3rem;
    padding-bottom: 3rem;
    overflow: hidden;
    resize: none
}

.form__error {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    width: 50%;
    z-index: 1;
    margin-right: 2.5rem;
    user-select: none;

    font-size: 1.6rem;
    text-align: right;

    color: map-get($colors, error);

    transform: translateY(-50%);
}

.form__send {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 4rem;

    @media (max-width: $mobile) {
        flex-direction: column-reverse;
    }
}

.form__info {
    flex: 1 1 75%;
    margin-right: 1rem;

    font-size: 1.8rem;
    line-height: 3.24rem;

    a {
        color: map-get($colors, white);
        
        &:hover {
            text-decoration: underline;
        }
    }

    @media (max-width: $desktop-m) {
        font-size: 1.6rem;
        line-height: 2.8rem;
    }

    @media (max-width: $mobile) {
        margin-top: 1rem;
        text-align: center;

        font-size: 1.4rem;
        line-height: 2.4rem;
    }
}

.form__submit {
    flex: 0 1 auto;
    background-color: map-get($colors, frame-line);

    font-size: 1.6rem;
}
