.order {
    display: flex;
    justify-content: space-between;
    padding: 7.3rem 0 8.3rem 0;
    
    background-color: map-get($colors, primary);
}

.order__create-order {
    flex: 0 1 60%;
}

.order__form {
    margin-top: 6rem;
}

.order__contact {
}