.popular {
    width: 100%;
    margin-top: 8rem;
}

.popular__head {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.popular__images {
    display: flex;
    margin-top: 6.2rem;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: $desktop-m) {
        justify-content: space-around;
    }

    @media (max-width: $tablet) {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 0 1rem;
    }
}

.popular__image-item {
    display: flex;
    justify-content: center;

    @media (max-width: $desktop-m) {
        width: 50%;
        margin: 2rem 0;
    }

    @media (max-width: $tablet) {
        width: 100%;
    }

    @media (max-width: $mobile) {
        width: 100%;
    }

    img {
        @media (max-width: $tablet) {
            width: 100%;
            margin: 0 5rem;
        }

        @media (max-width: $mobile) {
            // width: 100%;
        }
    }
}